body{
    margin: 0;
    text-align: center;  
    font-family: sans-serif;
    font-size: 130%;
    background: rgb(35, 37, 61);
    color: seashell;
}

.top {
    background: rgb(20, 21, 34);
    color: seashell;
    padding-top: 450px;
    
}



h1{
    color: rgb(121, 131, 185);
    top: 70px;
    font-family: 'Corinthia', cursive;
    font-size: 5.5em;
    line-height: 1 ;

}

h2 {
    font-family: sans-serif;
    color: rgb(228, 223, 255);
    font-size: 1.3em;
    font-weight: normal;
}

h3{
    color: rgb(221, 224, 243); 
    font-family: 'Montserrat', sans-serif;  
    font-size: 1.3em;
    font-weight: normal;
    
}

.web {
      text-decoration: underline;
      color: seashell;
}
.meteor{
    position: absolute;
    left: 330px;
    top: 120px;
    width: 358px;
    height: 353px;
}
.top-cloud{
    position: absolute;
    left: 1280px;
    top: 75px;
}
.star1{
    position: relative;
}
.star2{
    position: absolute;
    left: 1500px;
    top: 80px;
}
.star3{
    position: absolute;
    left: 360px;
    top: 260px;    

}
.star4{
    position: absolute;
    left: 580px;
    top: 240px;  
}
.star5{
    position: absolute;
    left: 610px;
    top: 130px;  
}
.bot-cloud{
    position: absolute;
    left: 93px;
    top: 230px;
}

.middle-container {
    font-weight: normal;
    margin: 200px auto 100px auto; 
    width:60%;
    position: relative;

  }
.profile-pic{
    position: relative;
    float: left;
}

.profiletext{
    text-align: left;
    font-family: sans-serif;
    font-size: 1.2em;
   
}

.middle-container-two {
    position: relative;
    margin: 100px auto 100px auto; 
    width: 65%;
    height: auto;
}


.HDLS{
    font-family: sans-serif;
    font-size: 1.3em;
     position: relative;
     border-spacing : 15px;
     margin: 100px auto 100px auto; 
     width: 65%;
}

.startable{
    position: relative;
    margin: auto;
}

.stars{
    color: seashell;
    position: relative;
}

.td{
    margin: 10px 50px ;
    padding-left: 10px;
    padding-right: 10px;
}


.middle-container-tree {
    text-align: left;
    line-height: 2;
    position: relative;
    margin: 200px auto 200px auto; 
    width: 60%;
}
.skill-row{
    color: seashell;  
    font-family: sans-serif;
    margin: 0px auto 150px auto; 
    width: 100%;
}

.vctimg{
    position: relative;
    float: left;
    margin-right: 80px;
   
}

.design_skill{ 
    position: relative;
    margin: 0px auto 50px auto; 
    width: 60%;

}

.skill-row2{
    color: seashell;  
    font-family: sans-serif;
    margin: 100px auto 50px auto; 
    width: 100%;
}

.CODE{
    text-align: right;


}
.codeimg{
    position: relative;
    float: right;
    margin-left: 80px;
}
    
.code_skill{ 
    position: relative;
    text-align: right;
    margin: 0px auto 50px auto; 
    width: 58%;
}

.bottom-container {

    position: relative;
    margin: 0px auto 120px auto; 

    text-align: center;  
    color: seashell;
    padding: 30px 0px 55px 0px;
    background: rgb(22, 23, 37);

    
  }

  .merlyn{
    position: relative;
    float: right;
    margin-left: 0px;

  }

a{
      color: seashell; 
      font-family: sans-serif;
      margin: 10px 20px ;
  }


  .get{
    color: seashell; 
    font-family: sans-serif;
    margin: auto;
    width:50%;
    position: relative;

}

.buttondiv{
    position: relative;
    margin: 50px auto 0px auto; 
    width:50%;
}

.btn {
        -webkit-border-radius: 54;
        -moz-border-radius: 54;
        border-radius: 54px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #71808a;
        padding: 10px 40px 10px 40px;
        text-decoration: none;
      }
      
.btn:hover {
        background: #d8d9fd;
        text-decoration: none;
        color: darkblue;
        box-shadow:  0px -5px 30px #71848f,
             0px 5px 30px #0073FB;
      }

.podval{
    font-weight: normal;
    margin: 20px auto 10px auto; 
    width:60%;
    position: relative;
}


:root {
    --scrollbarBgColor: rgba(0, 0, 0, .05);
    --scrollbarThumbColor: rgba(0, 0, 0, .15);
    --scrollbarThumbColorSecond: rgba(255, 255, 255, .7);
    --scrollbarWidth: 16px;
    --scrollbarBorder: 0 solid var(--scrollbarBgColor);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
  }
  .container {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  }
  .container::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }
  .container::-webkit-scrollbar-track {
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
  }
  .container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    background-image: linear-gradient(
      180deg,
      var(--scrollbarThumbColor) 0%,
      var(--scrollbarThumbColorSecond) 90%
    );
  }
  